<div class="main-content">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="text-center">
        <h3>Crear Publicación</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="card card-wizard">
        <div class="card-header text-center card-header-sp">
          <div class="row row-header-sp">
            <div class="col-md-4 col-header-sp">
              <a class="btn btn-sp" [routerLinkActive]="['active']" [routerLink]="['paso1']">Paso 1</a>
            </div>
            <div class="col-md-4 col-header-sp">
              <a class="btn btn-sp" [routerLinkActive]="['active']" [routerLink]="['paso2']">Paso 2</a>
            </div>
            <div class="col-md-4 col-header-sp">
              <a class="btn btn-sp" [routerLinkActive]="['active']" [routerLink]="['paso3']">Paso 3</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>