<div class="jumbotron jumbotron-fluid section-acerca-de">
  <div class="container">
    <h1 class="text-center">Acerca de SharePlace</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Vivamus tempus elit eget tellus posuere accumsan. Ut fermentum, 
      nisi nec sodales egestas, nibh magna malesuada metus, quis maximus felis 
      risus in augue. Aliquam vel est fermentum, pretium lacus cursus, rutrum erat. 
      Vestibulum mattis eget purus sed rutrum. Donec consequat nisi in egestas sodales. 
      Phasellus dapibus leo nibh, ac euismod metus elementum convallis. In vitae dapibus
      quam. Sed placerat felis nec metus placerat luctus. Suspendisse vel sodales lectus. 
      Praesent ullamcorper, velit vel luctus mattis, metus nulla cursus risus, et facilisis 
      libero metus sed nunc. Vestibulum auctor hendrerit feugiat. Quisque eu auctor ante. 
      Phasellus lacinia mauris vitae dictum condimentum. Aenean at est augue. Phasellus 
      pharetra nisi vitae nibh rutrum, at rhoncus justo pretium.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Vivamus tempus elit eget tellus posuere accumsan. Ut fermentum, 
      nisi nec sodales egestas, nibh magna malesuada metus, quis maximus felis 
      risus in augue. Aliquam vel est fermentum, pretium lacus cursus, rutrum erat. 
      Vestibulum mattis eget purus sed rutrum. Donec consequat nisi in egestas sodales. 
      Phasellus dapibus leo nibh, ac euismod metus elementum convallis. In vitae dapibus
      quam. Sed placerat felis nec metus placerat luctus. Suspendisse vel sodales lectus. 
      Praesent ullamcorper, velit vel luctus mattis, metus nulla cursus risus, et facilisis 
      libero metus sed nunc. Vestibulum auctor hendrerit feugiat. Quisque eu auctor ante. 
      Phasellus lacinia mauris vitae dictum condimentum. Aenean at est augue. Phasellus 
      pharetra nisi vitae nibh rutrum, at rhoncus justo pretium.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Vivamus tempus elit eget tellus posuere accumsan. Ut fermentum, 
      nisi nec sodales egestas, nibh magna malesuada metus, quis maximus felis 
      risus in augue. Aliquam vel est fermentum, pretium lacus cursus, rutrum erat. 
      Vestibulum mattis eget purus sed rutrum. Donec consequat nisi in egestas sodales. 
      Phasellus dapibus leo nibh, ac euismod metus elementum convallis. In vitae dapibus
      quam. Sed placerat felis nec metus placerat luctus. Suspendisse vel sodales lectus. 
      Praesent ullamcorper, velit vel luctus mattis, metus nulla cursus risus, et facilisis 
      libero metus sed nunc. Vestibulum auctor hendrerit feugiat. Quisque eu auctor ante. 
      Phasellus lacinia mauris vitae dictum condimentum. Aenean at est augue. Phasellus 
      pharetra nisi vitae nibh rutrum, at rhoncus justo pretium.
    </p>
  </div>
</div>