<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="logo-footer">
                    <img class="img" src="./assets/img/logo-icse.png" />
                </div>
            </div>
            <div class="col-md-10">
                <div class="copyright pull-right">
                    Licenciatura en Medios Audiovisuales
                    &copy;
                    Copyright - U.N.T.D.F. {{test | date: 'yyyy'}}
                </div>
            </div>
        </div>
    </div>
</footer>
