<footer class="footer-home">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a class="navbar-brand footer-logo">SharePlace</a>
      </div>
      <div class="col-md-2">
        <ul class="footer-home-link">
          <li><a [routerLink]="['iniciar-sesion']">Iniciar Sesión</a></li>
          <li><a [routerLink]="['registrarse']">Registrarse</a></li>
          <li><a [routerLink]="['perfiles']">Buscar Perfiles</a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="footer-home-contact">
          <li><strong>Contacto</strong></li>
          <li>USHUAIA</li>
          <li>Fuegia Basket 251 - Mesa de entrada</li>
          <li>Yrigoyen 879 - Campus</li>
          <li>+54 2901 440853</li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="footer-home-img">
          <img src="./../../../../assets/img/home-mapa.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</footer>