.footer{
    background-color:#00204A;
    height: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
      /*..otro codigo..*/
  }
  a{
    font-weight: bold;
  }
  
  #a1:hover {
    color:white;
  }
  
  #a2:hover {
    color:white;
  }
  
  #a3:hover {
    color:white;
  }
  
  #cx{
    margin-left: 210px;
    margin-right: 175px;
  }
  
  #c2{
    font-size: 16px;
  }
  
  #c3{
    color:white;
  }
  
  #p1{
    font-weight: bold;
  }
  