.login{
  background-image: linear-gradient( rgba(62,62,62, 0.87), rgba(62,62,62, 0.87) ), 
    url('/assets/img/home-background.jpg');
  background-size: cover;
  background-position: center center;
  height: 100%;
  margin-bottom: 0;
  text-align: center !important;
  .form-signin{
    //max-width: 300px;
    margin-top: 50px;
    color:$sp-white;
    h4{
      font-size:2rem;
    }

    h6{
      text-transform: capitalize;
      font-size: 15px;
    }

    input{
      color:$sp-white;
      margin: 25px auto;
    }

    #inputPassword{
      margin-bottom: 0;
    }

    .btn-login, .btn-login:hover, .btn-login:active{
      background-color: $sp-green;
    }

    .btn-register, .btn-register:hover, .btn-register:active{
      background-color: $sp-blue-primary;
    }

    a{
      color: $sp-white;;
    }

    a:hover, a:focus {
      color: $sp-blue-primary;
      text-decoration: none;
    }

    input:focus{
      background-image: 
        linear-gradient(to top, $sp-green 2px, rgba(244, 67, 54, 0) 2px), 
        linear-gradient(to top, $sp-green 1px, rgba(210, 210, 210, 0) 1px);
    }
  }
}