/*
ESTO USARLO EN ASSETS/SCSS/CORE/HOME-NAVBAR
.navbar {
    height: 80px;
    background-color:#0098AA
  }
  
  .navbar-item{
    color: white;
    font-weight: bold;
  }
  
  // A ESTAS CLASES "navbar-brand Y navbar-menu" LA REEMPLACE POR LA CLASE "container", 
  // LO QUE HACE ESTA CLASE ES DALE MARGIN A LOS COSTADOS
  // Y LA MISMA CLASE container-fluid LE SACA LOS MARGENES
  .navbar-brand {
    margin-left: 230px;
  }
  
  .navbar-menu{
    margin-right: 230px;
  }
*/ 