.hero {
    background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('/assets/img/home.jpg') !important;
    background-size: cover;
    background-position: center center;
  }
  
  #p1{
    font-weight: bold;
    font-size: 250%;
  }
  
  .form-control{
    width: 800px;
    margin-left: 155px;
    font-weight: bold;
    height:50px;
    font-size:20pt;
    border: 5px solid lightblue;
  }
  