.sp-orderby{
  background: red;
}

.publications{
  .header-equipment{
    //padding-left: 0px;
    .title-section{
      margin-bottom: 0px !important;
    }
  }
  .card{
    margin-top: 0px;
    background-color: transparent;
    padding:0px;
    border-radius: 0px;

    .sp-card-img{
      //height: 175px !important;
    }

    .card-title{
      margin-bottom: 0px;
    }

    .card-body{
      padding:0px;
    }

    .score{
      .favorite{
        float: left;

        .material-icons{
          color:#F8B200;
        }
      }
      .number{
        float: right;
        padding-right: 5px;
      }
    }
  }
}