<div class="container">
  <div class="profile-detail">
    <div class="row">
      <div class="col-md-4">
        <h5 class="card-title">Perfil de {{user.name}} {{user.lastName}}</h5>
        <div class="card">
          <!-- <img class="card-img-top sp-card-img" *ngIf="publication.images.length > 0" [src]="publication.images[0].path" alt=""> -->
          <img class="card-img-top sp-card-img" src="../../assets/img/default.jpg" alt="">
          <div class="card-body">
            <div class="score">
              <div class="favorite">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
              </div>
              <div class="number">
                123
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Vivamus tempus elit eget tellus posuere accumsan. Ut fermentum, 
          nisi nec sodales egestas, nibh magna malesuada metus, quis maximus 
          felis risus in augue. Aliquam vel est fermentum, pretium lacus 
          cursus, rutrum erat. Vestibulum mattis eget purus sed rutrum. Donec 
          consequat nisi in egestas sodales. Phasellus dapibus leo nibh, ac 
          euismod metus elementum convallis. In vitae dapibus quam. Sed 
          placerat felis nec metus placerat luctus. Suspendisse vel sodales 
          lectus. Praesent ullamcorper, velit vel luctus mattis, metus 
          nulla cursus risus, et facilisis libero metus sed nunc. 
          Vestibulum auctor hendrerit feugiat. Quisque eu auctor ante. 
          Phasellus lacinia mauris vitae dictum condimentum. Aenean 
          at est augue. Phasellus pharetra nisi vitae nibh 
          rutrum, at rhoncus justo pretium.
        </p>
        <h6>Visita mis enlances:</h6>
        <ul>
          <li><a href="#">Ver mis videos</a></li>
          <li><a href="#">Ver mis videos</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Habilidades</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
          <li>nisi nec sodales egestas, nibh magna malesuada metus, quis maximus </li>
          <li>rutrum, at rhoncus justo pretium.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
          <li>nulla cursus risus, et facilisis libero metus sed nunc.</li>
          <li>lectus. Praesent ullamcorper, velit vel luctus mattis, metus</li>
        </ul>
      </div>
    </div>
  </div>
</div>