.hero {
    background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('/assets/img/home.jpg') !important;
    background-size: cover;
    background-position: center center;
  }
  
  #defaultLoginFormDni{
    width: 30%;
    margin: auto
  }
  
  #defaultLoginFormPassword{
    width: 30%;
    margin: auto
  }
  
  #b1{
    width: 30%;
    margin: auto;
  }
  
  #d1{
    margin-right: 190px;
  }
  
  
  